<%= react_component 'lists', { data: lists } %>
<div id="user-chart" style="height: 500px; text-align: center; color: #999; line-height: 800px; font-size: 14px; font-family: 'Lucida Grande', 'Lucida Sans Unicode', Verdana, Arial, Helvetica, sans-serif; margin-bottom: 20px;"></div>
<div id="pie-chart" style="height: 500px; text-align: center; color: #999; line-height: 500px; font-size: 14px; font-family: 'Lucida Grande', 'Lucida Sans Unicode', Verdana, Arial, Helvetica, sans-serif; margin-bottom: 20px;"></div>
